/* general */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

#container {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: steelblue;
  text-decoration: none;
}

/* header */

header {
  background-color: whitesmoke;
  padding: 1rem 2rem;
  border-bottom: 1px solid lightsteelblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

button {
  border-radius: 0.2rem;
  border: 2px solid lightsteelblue;
  background-color:lightgray;
  cursor:pointer;
}

input {
  border-radius: 0.2rem;
  border: 2px solid lightsteelblue;
  background-color:whitesmoke;
  cursor:pointer;
}

button:hover {
  background-color: whitesmoke;
}

form {
  font-size: small;
}

/* footer */

footer {
  font-size:small;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

/* main page */

#twoDayDisplay {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

#twoDayDisplay > .card {
  border-radius: 1rem;
  border: 1px solid gray;
  width: 18rem;
  display: grid;
  grid-template-rows: 4rem 1fr 11rem;
  box-shadow: 0.5rem 0.5rem 0.5rem silver;
}

#title {
  width: 88vw;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 90vw;
  margin: 2rem 0;
}

tr:nth-child(odd) {
  background-color: whitesmoke;
}

td {
  padding: 0.5rem;
}

/* forecast cards */

.forecast-header {
  background-color:whitesmoke;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  border-bottom: 1px solid gray;
}

.forecast-body > h2 {
  margin: 1rem;
}

.forecast-footer {
  background-color: whitesmoke;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  border-top: 1px solid gray;
}

/* welcome */

#welcome > img {
  width: 100%
}

#welcome {
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* about page */

#about-img {
  width: 70vw;
}

#clear-button {
  color: steelblue;
  border: 1px solid lightsteelblue;
  padding: 0.2rem;
}

#deleted {
  font-size: small;
}