.weather-card {
  width: 20rem;
  height: 30rem;
}

.weather-cards {
  gap: 5rem;
}

.nav-link:hover, .btn:hover {
  background-color: lightgray;
}

div.weekly >div:nth-of-type(odd) {
  background: whitesmoke;
}

div.weekly div {
  padding: 1rem;
}

.welcome {
  width: fit-content;
  min-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-day-container {
  width: 90vw;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}